.container-fluid {
    background: #087990;
    width: 100%;
    height: 100vh;
    padding-bottom: 10%;
}

.card-pad {
    padding-top: 20%;
}

.card span {
    font-size: 10rem;
    padding-bottom: 0;
}

h1 {
    padding-top: 5px;
    border-top: 2px solid white;
}

@media screen and (max-width: 800px) {
    .card span {
        font-size: 5rem;
    }
    .nav {
        display: none;
    }
}