.h100 {
    height: 85vh;    
}

#header-con {
    height: 68vh;
    background: #ebebeb;
    /* padding-bottom: 10%; */
}

.p__pad {
    padding-top: 10%;
}

.p__pad1 {
    margin-top: 5%;
}

.h6__header {
    color: rgb(8, 120, 224);
}

.michael1 {
    height: 50vh;
    width: 100%;
}

.borderBlue {
    border: 1px solid rgb(0, 148, 246);
    border-radius: 10rem;
    transition: 0.5s;
}

.borderBlue:hover {
    border: 1px solid rgb(0, 148, 246);
    background: rgb(0, 148, 246);
    color: white;
    transition: 0.5s;
}

.btnBlue {
    background: rgb(0, 148, 246);
    border-radius: 10rem;
    color: white;
    transition: 0.5s;
}

.btnBlue:hover {
    border: 1px solid rgb(0, 148, 246);
    background: none;
    transition: 0.5s;
    color: black;
}

.Absolute {
    position: absolute;
    z-index: 1;
    /* margin-left: 2.5%; */
}

.circled {
    border-radius: 10rem;
}

.subHeader {
    font-size: 13px;
    color: rgb(0, 148, 246);
    font-weight: 600;
}

.faIcon-color {
    color: rgb(0, 148, 246);
    font-size: 50px;
}

.spanText {
    font-size: 17px;
}

.w75 {
    width: 75%;
}

@media screen and (max-width: 600px) {
    .h100 {
        height: 90vh;
    }

    #header-con {
        height: 70vh;
    }

    .faIcon-color {
        font-size: 30px;
    }

    .w75 {
        margin-top: 5%;
        width: 100%;
    }

    .spanText {
        font-size: 11px;
    }

    .subHeader {
        font-size: 9px;
    }

}