.contactIcons {
    background: rgb(8, 120, 224);
    padding: 0 10px 0 10px;
    border-radius: 10rem;
    height: 40px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mlcontacts {
    margin-left: 7%;
}


@media screen and (max-width: 500px) {
    .michael1 {
        display: none;
    }

    .mlcontacts {
        margin-left: 0;
    }
}